.main{
    padding: 10px;
    border: 0;
    background: #070b3b !important;
    color: white;
    display: flex;
    
    
}
.mainLogin{
    padding: 10px;
    border: 0;
    /* background: #070b3b !important; */
    color: white;
    opacity: 1; 
    background-color: rgba(7,11,59,0.9);
}

.ulnavbar{
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.nav-link{
    text-decoration: none;
    color:aliceblue;
    margin: 3px 1rem;
    font-size: 50px;
}
.nav-link:hover {
    /* border-bottom: 1px solid aliceblue; */
    color:aliceblue;
    text-decoration:underline;
    /* margin: 1px 0.7rem; */
}

#inventory {
    color: #f354ff;
    border-right: 1px solid #0d6efd;
    padding-right: 1rem;
}
#inno{
    color: #f354ff;
    font-size: xx-large;
}
.inventoryLogin {
    color: #f354ff;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}
#logout {
    background-color: #0071dc;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 0.5s;
    width: 120px;
    padding: 2%;
    margin-right: 35px;
    color: white;
    height: 2.5rem;
}
#logout:hover {
    background-color: #f354ff;
    color: white;
}

.footer {
    /* position:fixed; */
    left:0;
    bottom:0;
    right:0;
    background-color: #070b3b;
    color: white;
    text-align: center;
    /* bottom: 0; */
    width: 100%;
    height: 4rem;
    background-color: rgba(7,11,59,0.9);
    /* position: absolute; */
  }
  #sp{
    margin-top: 10px;
    bottom: 0;
  }
