.main{
    padding: 10px;
    border: 0;
    background: #070b3b !important;
    color: white;
    display: flex;
}
.ulnavbar{
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  /* height: 4rem; */
}
.nav-link{
    text-decoration: none;
    color:aliceblue;
    margin: 2px 0.7rem;

}
.nav-link:hover {
    border-bottom: 1px solid aliceblue;
    color:aliceblue;
   
}

#inventory {
    color: #f354ff;
    border-right: 1px solid #0d6efd;
    padding-right: 1rem;
    
}
#logout {
    background-color: #0071dc;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 0.5s;
    width: 120px;
    padding: 2%;
    margin-right: 35px;
    color: white;
    height: 2.5rem;
}
#logout:hover {
    background-color: #f354ff;
    color: white;
}

.footer {
    background-color: #070b3b;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 2%;
    height: 3rem;
  }
  #sp{
    margin-top: 10px;
  }

/*     
.nav-link{
    color:aliceblue;
    margin: 0px 0.2rem;
}
.nav-link:hover {
    border-bottom: 1px solid #0d6efd;
    color:#0d6efd;
}
*/