.div_main{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
}
.tbl1{
    margin-top: 4%;
}
/* .addnew {
    background-color: #0071dc;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 0.5s;
    padding: 5px;
    color: white;
    margin-top: 1%;
    height: 2.5rem;
    width: 10%;
}
.addnew:hover {
    background: yellow;
    color: black;
} */
#tbldiv{
   
    height: 520px;
    font-size: 15px;
    
}