.tbldiv{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
.tbl1{
    margin-top: 4%;
}
.addnew {
    background-color: #0071dc;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 0.5s;
    padding: 5px;
    color: white;
    margin-top: 2%;
    height: 2.5rem;
    width: 10%;
}
.addnew:hover {
    background-color: #f354ff;
    color: white;
}