.text{
    margin-top:1rem;
    font-weight:bold;
    text-align: center!important;
}
.form{
    margin-bottom: 2%;
}
.label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#button {
    background-color: #0071dc;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 0.5s;
}

    #button:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    #button[disabled]:hover {
        background: #0071dc;
    }

    #button:hover {
        background-color: #f354ff;
        color: white;
    }