#background{
    background-image: url("https://images.unsplash.com/photo-1614028674026-a65e31bfd27c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size:cover; /* Adjust as needed */
    background-repeat: no-repeat; 
    height: 100vh;
}

#loginForm{
    /* background-color: aliceblue; */
    width: 25%;
    margin: auto;
    padding: 1%;
    text-align: center;
    height:35vh;
}

#logindiv{
    backdrop-filter: blur(2px);
    opacity: 1;

}

/* .containerlog{
    width: 20%;
  margin: auto;
  margin-top: 30px;
  backdrop-filter: blur(1px);
} */

/* .logindiv{
    display: flex;
    padding: 1.375rem 1.75rem;  
} */

.img{
    border-radius: 50%;
            vertical-align: middle;
            height: 85px;
            display: flex;
}
.image{
    padding-top: 8%;
    text-align: -webkit-center;
    width: 50%;
    margin: auto;
}
/* .inplog{
    margin-top: 20px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 3rem;
}
#buttonlog{
    background-color: forestgreen;
    border-radius: 4px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 2%;
    height: 3rem;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    margin-top: 25px;
} */
/* #buttonlog:hover {
    opacity: 0.8;
    color: white;
} */
#fp{
    color: whitesmoke;
    text-decoration:none;
    font-size: larger;
    display: inline;
   font-variant-caps:all-petite-caps;
   width:max-content;
   margin:auto;
   font-family:'Cambria Math';
   display: flex;
   justify-content: center;
   align-items: center;
}